<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhi.fiction.mapper.ArticleMapper">
	<insert id="insertSelective" parameterType="com.zhi.fiction.model.Article">
		insert into t_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="chapter != null">
				chapter,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="chapter != null">
				#{chapter,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				now(),
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
		ON DUPLICATE KEY UPDATE add_time=now()
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			title,chapter, add_time, content
		</trim>
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.title},
			#{item.chapter},
			now(),
			#{item.content}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE add_time=now()
	</insert>
	
</mapper>